ul{
    list-style-type: circle;
    margin: 50;
    padding: 20;
    overflow: hidden;
    background-color: rgb(82, 241, 9);
  }

  li {
    float: center;
  }
  
  li a {
    display: block;
    color: rgb(4, 126, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

/* Change the link color to #111 (green) on hover */

li a:hover {
    background-color: rgb(38, 114, 0);
}
  
  